#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  display: flex;
  justify-content: space-between;

}
nav ul li, nav a{
  font-size: 1rem ;
  margin-left: 5px;
  margin-right: 5px;
}

.hero{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: gray;
  background-image: url('../../public/images/home.jpeg');
  background-size: cover;
}

.rekomendasiMuseum,.koleksiMuseum{
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.541);
}

.cardRekomendMusemu{
  margin: 15px;
  background-color: gray;
  border-radius: 4px;
  height: 400px;
  width: 300px;
}
.cardRekomendkoleksi{
  margin: 15px;
  background-color: gray;
  border-radius: 4px;
  height: 300px;
  width: 245px;
}
.ticketForm{
  display: flex;
  justify-content :center;
  align-items: center;
  text-align : left;
}
.tiketContainer{
  width:100%;
  height:100dvh;
  background-color:white;
  display: flex;
  justify-content :center;
  align-items: center;  
  background-image: url('../../public/images/tiket.jpeg');
}
.tiketItem{
  background-color: #faf9f6;
  width:80%;
  padding:20px;
  border-radius: 0.5rem;
}
.tiketItem h1{
  margin:10px;
}

.souvenirContainer{
  width:100%;
  display :flex;
}
.cardSouvenir{
  margin: 15px;
  background-color: gray;
  border-radius: 4px;
  height: 400px;
  width: 300px;
}
.blogCard{
  display: flex;
  height: 250px;
  width: 850px;
  border: 1px solid gray;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
  background-color: #1f222a;
  align-item:center; 
  justify-content:center;

}
.blog{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 23px;
  justify-items: center;
  width: 100%;
}
.itemBlog{
  text-align:left;
  height:fit-content;
}

img {
  loading: lazy;
  object-fit: cover;
  width: 100%;
}